@page "/"
@rendermode InteractiveServer
@inject AuthenticationStateProvider _AuthenticationStateProvider
@inject IJSRuntime _JSRuntime
@inject NavigationManager _NavigationManager
@inject IProductRepository ProductRepository;
@inject ICategoryRepository CategoryRepository;
@inject IShoppingCartRepository ShoppingCartRepository;
@inject SharedStateService _SharedStateService
<PageTitle>Home</PageTitle>
@if (IsProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading">
    </div>
}
else
{
    <div class="container-fluid px-0 m-0 full-width">
        <div class="jumbotron-custom">
            <div class="m-auto d-flex align-items-center" style="width: 400px; height: 50vh;">

                <div class="d-flex align-items-center" style="width: 100%;">
                    <input type="text" class="form-control rounded-pill"
                    @bind:event="oninput" @bind:get="_searchText" @bind:set="FilterProductByName" 
                    placeholder="Search for Food Items!"
                    style="width: 100%; padding: 20px;">
                    <span style="position: relative; left: -43px;"><i class="bi bi-search"></i></span>
                </div>
            </div>
        </div>

        <div class="content px-4 m-2">
            <ul class="nav nav-underline justify-content-center mb-2">
                <li class="nav-item">
                    <span class="nav-link @GetActiveTabClass(0)" href="#" style="cursor: pointer" @onclick="()=> FilterProducts(0)">All</span>
                </li>
                @foreach(var cat in categories)
                {
                    <li class="nav-item">
                        <span class="nav-link @GetActiveTabClass(cat.Id)" href="#" style="cursor: pointer" @onclick="()=> FilterProducts(cat.Id)">@cat.Name</span>
                    </li>
                }


            </ul>
            <div class="row mt-4 mx-1">
                @foreach (var product in _FilterProducts)
                {
                    <div class="col-12 col-md-6 col-lg-4 pe-3 mb-5">
                        <div class="card">
                            <div class="mt-3 mb-2 row">
                                <div class="col-6 px-3">
                                    @if (!string.IsNullOrEmpty(product.SpecialTag))
                                    {
                                        <i class="bi bi-star btn btn-outline-success disabled"> @product.SpecialTag</i>
                                    }

                                </div>
                                <div class="col-6 text-end text-danger px-3 h3">
                                    @product.Price.ToString("C",CultureInfo.GetCultureInfo("en-us"))
                                </div>
                            </div>
                            <div class="text-center">
                                @if (!string.IsNullOrEmpty(product.ImageUrl))
                                {
                                    <img class="card-img-top img-thumbnail img-rounded w-50 mt-2" src="@product.ImageUrl" style="">
                                }
                                else
                                {
                                    <img class="card-img-top img-thumbnail img-rounded w-50 mt-2" src="images/default.png" style="">
                                }

                            </div>
                            <div class="card-body">
                                <h5 class="card-title text-center lead text-success">@product.Name</h5>
                                <p class="card-text mt-2">@((MarkupString)@product.Description)</p>
                                <h4 class="text-center">
                                    <div class="m-lg-auto p-2" @onclick="()=>AddOrderItem(product)">
                                        <i class="bi bi-cart3 btn btn-success text-right  px-5" form-control> Add to cart</i>
                                    </div>

                                </h4>


                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
@code {
    private IEnumerable<Product> products = new List<Product>();
    private IEnumerable<Product> _FilterProducts = new List<Product>();
    private IEnumerable<Category> categories = new List<Category>();
    private bool IsProcessing { get; set; } = true;
    private int _selectedCategprieId = 0;
    private string _searchText = string.Empty;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProducts();
            await LoadCategories();
            IsProcessing = false;
            StateHasChanged();
        }
    }

    private async Task LoadProducts()
    {
        products = await ProductRepository.GetProductsAsync();
        FilterProducts(0);
    }

    private async Task LoadCategories()
    {
        categories = await CategoryRepository.GetCategoriesAsync();
    }

    private void FilterProducts(int categoryId)
    {
        if (categoryId == 0)
        {
            _FilterProducts = products;
            _selectedCategprieId = categoryId;
            return;
        }
        else
        {
            _FilterProducts = products.Where(x => x.CategoryId == categoryId).ToList();
            _selectedCategprieId = categoryId;
            _searchText = string.Empty;
        }
    }

    private void FilterProductByName(string newValueOfSearchText)
    {
        if (string.IsNullOrWhiteSpace(newValueOfSearchText))
        {
            _FilterProducts = products;
        }
        else
        {
            _FilterProducts = products.Where(x => x.Name.Contains(newValueOfSearchText,StringComparison.InvariantCultureIgnoreCase)).ToList();
        }
        _searchText = newValueOfSearchText;
    }

    private string GetActiveTabClass(int categoryId)
    {
        return categoryId == _selectedCategprieId ? "active" : string.Empty;
    }

    private async Task AddOrderItem(Product product)
    {
        var authState = await _AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
        var isAuthenticated = user.Identity is not null && user.Identity.IsAuthenticated;
        //if user is not authenticated, redirect to login page
        if (!isAuthenticated)
        {
            _NavigationManager.NavigateTo("account/login");
        }
        else
        {
            //add product to cart
            var userId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;
            var cart = await ShoppingCartRepository.UpdateCartAsync(userId, product.Id, 1);
            if (cart != null)
            {
                await _JSRuntime.ToastrSuccess("Product added to cart successfully!");
                _SharedStateService.TotalCartCount = await ShoppingCartRepository.GetTotalCartCountAsync(userId);
            }
            else
            {
                await _JSRuntime.ToastrError("Failed to add product to cart!");
            }
        }
    }
}