@attribute [Route(Routes.Inventory_products)]
@rendermode InteractiveServer
@inject IMediator Mediator
@inject IJSRuntime _IJSRuntime
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Logging
@using SK.Inventory.UI.Blazor
@using SK.Inventory.UI.Blazor.Resources
@inject ILogger<Products> Logger
@inject NavigationManager _NavigationManager
@inject IStringLocalizer<InventoryTextRessources> _localizer
@attribute [Authorize(Roles = RoleType.Inventory_Manager + "," + RoleType.Inventory_Viewer)]
<PageTitle>@_localizer["Inventory_PageTitle"]</PageTitle>

<BsModal OnModalConfirmation="ConfirmDelete_Click"
         ButtonBootsrapStyle="btn-danger"
         ButtonText="Delete"
         Title="Are you sure you want to Delete this Customer?">
</BsModal>

@if (IsProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading">
    </div>
}
else
{
    <div class="container py-4">
        <div class="row justify-content-center mb-4">
            <div class="col-12 pt-1">
                <RadzenCard class="p-4 shadow radzen-card-responsive">
                    <div class="row align-items-center justify-content-between">

                        <!-- Left: Title -->
                        <div class="col-12 col-md-auto mb-2 mb-md-0 text-center text-md-start">
                            <h2 class="m-0 fw-bold" style="color: purple; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                @_localizer["Inventory_Title"]
                            </h2>
                        </div>

                        <!-- Right: Create New Quote -->
                        <div class="col-12 col-md-auto d-flex justify-content-center justify-content-md-end">
                            <RadzenButton Text=@_localizer["Create"]
                                          Icon="add_circle"
                                          Style="min-width: 160px; background-color: purple; border-color: purple; color: white;"
                                          ButtonStyle="ButtonStyle.Primary"
                                          Click="@OnCreateNewProduct" />
                        </div>

                    </div>
                </RadzenCard>
            </div>

            <div class="col-12 col-md-12 pt-1">
                <RadzenCard Class="p-4 shadow radzen-card-responsive">
                    <RadzenDataGrid @ref="productsGrid"
                                    Data="@productsDto"
                                    LoadData="@LoadProducts"
                                    TItem="ProductDto"
                                    AllowFiltering="true"
                                    AllowPaging="true"
                                    PageSizeOptions="new int[] {5, 10, 20, 50}"
                                    PageSize="10"
                                    Count="@totalObjectCount"
                                    AllowSorting="true"
                                    Responsive="true">

                        <Columns>
                            @*  <RadzenDataGridColumn Title="Id">
                                            <Template Context="quoteItem">@quoteItem.Id</Template>
                                        </RadzenDataGridColumn> *@

                            <RadzenDataGridColumn Title=@_localizer["Product"]>
                                <Template Context="productDto">
                                    <div>
                                        <strong>@productDto.Name</strong><br />
                                        <strong>@_localizer["Id"] : </strong><small class="text-muted">@productDto.Id</small>
                                    </div>
                                </Template>
                            </RadzenDataGridColumn>

                            <RadzenDataGridColumn Title=@_localizer["Price"]>
                                <Template Context="productDto">@productDto.Price</Template>
                            </RadzenDataGridColumn>

                            <RadzenDataGridColumn Title=@_localizer["SpecialTag"]>
                                <Template Context="productDto">@productDto.SpecialTag</Template>
                            </RadzenDataGridColumn>

                            <RadzenDataGridColumn Title=@_localizer["Category"]>
                                <Template Context="productDto">@productDto.Category.Name</Template>
                            </RadzenDataGridColumn>

                            <RadzenDataGridColumn Title=@_localizer["Action"] Sortable="false" Filterable="false" Width="200px" TextAlign="TextAlign.Center">
                                <Template Context="productDto">
                                    <RadzenButton Shade="Shade.Lighter"
                                                  Text=@_localizer["Edit"]
                                                  ButtonStyle="ButtonStyle.Primary"
                                                  Click="@(()=>_NavigationManager.NavigateTo(Routes.GetProductEditUrl(productDto.Id)))" />
                                    <RadzenButton Shade="Shade.Lighter"
                                                  Text=@_localizer["Delete"]
                                                  ButtonStyle="ButtonStyle.Danger"
                                                  Click="()=>HandleDelete(productDto.Id)" />
                                </Template>
                            </RadzenDataGridColumn>
                        </Columns>

                        <!-- Empty state -->
                        <EmptyTemplate>
                            <div class="text-center text-muted p-4">
                                @_localizer["Customers_NoCustomersToDisplay"]
                            </div>
                        </EmptyTemplate>

                    </RadzenDataGrid>
                </RadzenCard>

            </div>

        </div>
    </div>
}


@code {
    public bool IsProcessing { get; set; } = false;

    private IEnumerable<ProductDto> productsDto { get; set; } = new List<ProductDto>();
    RadzenDataGrid<ProductDto> productsGrid;
    int totalObjectCount = 0;
    private int DeleteProductID { get; set; } = 0;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await productsGrid.Reload();

            StateHasChanged();
        }
    }


    private LoadDataArgs _lastLoadArgs;
    private async Task LoadProducts(LoadDataArgs arg)
    {
        _lastLoadArgs = arg; // store for reuse
        int pageSize = arg.Top ?? 10; // default to 10 if null
        int skip = arg.Skip ?? 0;
        int pageIndex = skip / pageSize;
        var query = new GetAllProductsQuery(pageIndex, pageSize);
        var result = await Mediator.Send(query);
        if (result.IsSuccess)
        {
            productsDto = result.ProductsDto;
            totalObjectCount = result.TotalCount;
        }
        else
        {
            await _IJSRuntime.ToastrError(result.ErrorMessage);
        }
    }
    private async Task HandleDelete(int id)
    {
        DeleteProductID = id;
        await _IJSRuntime.InvokeVoidAsync("ShowConfirmationModal");
    }

    private async Task ConfirmDelete_Click(bool isConfirmed)
    {
        IsProcessing = true;
        await _IJSRuntime.InvokeVoidAsync("HideConfirmationModal");
        if (isConfirmed && DeleteProductID != 0)
        {
            var query = new DeleteProductCommand(DeleteProductID);
            var result = await Mediator.Send(query);
            if (result.IsSuccess)
            {
                await _IJSRuntime.ToastrSuccess("Product Deleted Successfully");
            }
            else
            {
                await _IJSRuntime.ToastrError(result.ErrorMessage);
            }
            await LoadProducts(_lastLoadArgs);
            StateHasChanged();

        }
        DeleteProductID = 0;
        IsProcessing = false;

    }


    async Task OnCreateNewProduct()
    {
        _NavigationManager.NavigateTo(Routes.Inventory_Product_Create);
    }
}
