@using SK.CRM.Application.DTOs.Quote
@using SK.CRM.Application.Features.Quotes.Queries
@attribute [Route(Routes.Crm_Quotes)]
@attribute [Authorize(Roles = RoleType.Crm_Manager + "," + RoleType.Crm_Viewer)]
@rendermode InteractiveServer
@inject IMediator Mediator
@inject NavigationManager _NavigationManager
@inject ILogger<Quotes> Logger
@inject IJSRuntime _IJSRuntime
@inject ICurrentUserService _CurrentUserService
@attribute [Authorize]
<PageTitle>Quotes</PageTitle>
@if (IsProcessing)
{
    <div class="position-absolute w-100 vh-100 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="/images/loading.gif" alt="loading">
    </div>
}
else
{
    <div class="container py-4">
        <div class="row justify-content-center mb-4">
            <div class="col-12 col-md-12 pt-4">
                <RadzenCard Class="p-4 shadow radzen-card-responsive">
                    <div class="row align-items-center text-center text-md-start">

                        <!-- Left: Back button -->
                        <div class="col-12 col-md-4 mb-2 mb-md-0 d-flex justify-content-center justify-content-md-start">
                            <RadzenButton Text="Back to Dashboard"
                            Icon="arrow_back"
                            Style="min-width: 160px;"
                            ButtonStyle="ButtonStyle.Light"
                            Click="@OnBackToQuotes" />
                        </div>

                        <!-- Center: Title -->
                        <div class="col-12 col-md-4 mb-2 mb-md-0 d-flex justify-content-center">
                            <h4 class="m-0">Quotes</h4>
                        </div>

                        <!-- Right: Create New Quote -->
                        <div class="col-12 col-md-4 d-flex justify-content-center justify-content-md-end">
                            <RadzenButton Text="Create New Quote"
                            Icon="add_circle"
                            Style="min-width: 160px;"
                            ButtonStyle="ButtonStyle.Primary"
                            Click="@OnCreateNewQuote" />
                        </div>

                    </div>
                </RadzenCard>
            </div>

            <div class="col-12 col-md-12 pt-4">
                <RadzenCard Class="p-4 shadow radzen-card-responsive">
                    <RadzenTabs @bind-SelectedIndex=@selectedIndex Change="@OnTabChange">
                        <Tabs>
                            <RadzenTabsItem Text="Active">
                                <RadzenDataGrid @ref="quotesGrid"
                                Data="@QuotesDto"
                                TItem="QuoteDto"
                                AllowFiltering="true"
                                AllowPaging="true"
                                PageSizeOptions="new int[] {5, 10, 20, 50}"
                                PageSize="10"
                                AllowSorting="true"
                                Responsive="true">

                                    <Columns>
                                        <RadzenDataGridColumn Title="Id">
                                            <Template Context="quoteItem">@quoteItem.Id</Template>
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn Title="Full Name">
                                            <Template Context="quoteItem">
                                                <div>
                                                    <strong>@quoteItem.FullName</strong><br />
                                                    <small class="text-muted">@quoteItem.FullAddress</small>
                                                </div>
                                            </Template>
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn Title="Created Date">
                                            <Template Context="quoteItem">@quoteItem.CreatedDate.ToString("d")</Template>
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn Title="Status">
                                            <Template Context="quoteItem">@quoteItem.Status</Template>
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn Title="Expiration Date">
                                            <Template Context="quoteItem">@quoteItem.ExpirationDate?.ToString("d")</Template>
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn Title="Action" Sortable="false" Filterable="false" Width="100px" TextAlign="TextAlign.Center">
                                            <Template Context="quote">
                                                <RadzenButton Shade="Shade.Lighter"
                                                Text="Details"
                                                ButtonStyle="ButtonStyle.Primary"
                                                Click="@(() => _NavigationManager.NavigateTo(Routes.GetQuoteDetailsUrl(quote.Id)))" />
                                            </Template>
                                        </RadzenDataGridColumn>
                                    </Columns>

                                    <!-- Empty state -->
                                    <EmptyTemplate>
                                        <div class="text-center text-muted p-4">
                                            No quotes to display.
                                        </div>
                                    </EmptyTemplate>

                                </RadzenDataGrid>
                            </RadzenTabsItem>
                            <RadzenTabsItem Text="Completed">

                                <RadzenDataGrid @ref="quotesGrid"
                                Data="@CompletedQuotesDto"
                                TItem="QuoteDto"
                                AllowFiltering="true"
                                AllowPaging="true"
                                PageSizeOptions="new int[] {5, 10, 20, 50}"
                                PageSize="10"
                                AllowSorting="true"
                                Responsive="true">

                                    <Columns>
                                        <RadzenDataGridColumn Title="Id">
                                            <Template Context="quoteItem">@quoteItem.Id</Template>
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn Title="Full Name">
                                            <Template Context="quoteItem">
                                                <div>
                                                    <strong>@quoteItem.FullName</strong><br />
                                                    <small class="text-muted">@quoteItem.FullAddress</small>
                                                </div>
                                            </Template>
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn Title="Created Date">
                                            <Template Context="quoteItem">@quoteItem.CreatedDate.ToString("d")</Template>
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn Title="Status">
                                            <Template Context="quoteItem">@quoteItem.Status</Template>
                                        </RadzenDataGridColumn>

                                        <RadzenDataGridColumn Title="Action" Sortable="false" Filterable="false" Width="100px" TextAlign="TextAlign.Center">
                                            <Template Context="quote">
                                                <RadzenButton Shade="Shade.Lighter"
                                                Text="Details"
                                                ButtonStyle="ButtonStyle.Primary"
                                                Click="@(() => _NavigationManager.NavigateTo(Routes.GetQuoteDetailsUrl(quote.Id)))" />
                                            </Template>
                                        </RadzenDataGridColumn>
                                    </Columns>

                                    <!-- Empty state -->
                                    <EmptyTemplate>
                                        <div class="text-center text-muted p-4">
                                            No quotes to display.
                                        </div>
                                    </EmptyTemplate>

                                </RadzenDataGrid>

                            </RadzenTabsItem>
                        </Tabs>
                    </RadzenTabs>

                </RadzenCard>

            </div>

        </div>
    </div>
}

@code {
    public bool IsProcessing { get; set; } = true;
    int selectedIndex = 0;
    private IEnumerable<QuoteDto> QuotesDto { get; set; } = new List<QuoteDto>();
    private IEnumerable<QuoteDto> CompletedQuotesDto { get; set; } = new List<QuoteDto>();
    RadzenDataGrid<QuoteDto> quotesGrid;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                IsProcessing = true;
                await LoadActiveQuotes();

            }
            catch (Exception ex)
            {
                Logger.LogError(ex, "Error while fetching Quotes.");
                await _IJSRuntime.ToastrError("An unexpected error occurred. Please try again later. If the problem persists, contact support.");
            }
            finally
            {
                IsProcessing = false;
                StateHasChanged();
            }

        }
    }

    private async Task LoadActiveQuotes()
    {
        var query = new GetAllQuotesByStatusQuery(new[] { QuoteStatus.StatusAccepted, QuoteStatus.StatusQuoted, QuoteStatus.StatusSubmitted, QuoteStatus.StatusUnderReview });
        var result = await Mediator.Send(query);
        if (result.IsSuccess)
        {
            QuotesDto = result.QuotesDto;
        }
        else
        {
            Logger.LogError("Failed to load quotes: {Error}", result.ErrorMessage);
            await _IJSRuntime.ToastrError("Failed to load quotes. Please try again later.");
        }
    }

    private async Task LoadCompletedQuotes()
    {
        var query = new GetAllQuotesByStatusQuery(new[] { QuoteStatus.StatusExpired, QuoteStatus.StatusCancelled, QuoteStatus.StatusCompleted });
        var result = await Mediator.Send(query);
        if (result.IsSuccess)
        {
            CompletedQuotesDto = result.QuotesDto;
        }
        else
        {
            Logger.LogError("Failed to load quotes: {Error}", result.ErrorMessage);
            await _IJSRuntime.ToastrError("Failed to load quotes. Please try again later.");
        }
    }

    async Task OnBackToQuotes()
    {
        _NavigationManager.NavigateTo(Routes.Crm_Quotes);
    }

    async Task OnCreateNewQuote()
    {
        // Implement save changes logic here
        await _IJSRuntime.ToastrSuccess("Changes saved successfully.");
    }


    private async Task OnTabChange(int index)
    {
        switch (index)
        {
            case 0: // Active Quotes tab
                if (!QuotesDto.Any())
                    await LoadActiveQuotes();
                break;

            case 1: // Completed Quotes tab
                if (!CompletedQuotesDto.Any())
                    await LoadCompletedQuotes();
                break;
        }

        StateHasChanged();
    }

}

